---
import Layout from "../layouts/Layout.astro";
import { React1Example } from "../modules/react/React1Example";
import { React2Example } from "../modules/react/React2Example";
import { Debug } from "../modules/solid/Debug";
import { Solid1Example } from "../modules/solid/Solid1Example";
import { Solid2Example } from "../modules/solid/Solid2Example";
import { getProducts } from "../patterns/products/data";

export const prerender = true;

const data = getProducts().products;
---

<Layout title="Welcome to Wishlists.">
  <main class="grid grid-cols-2">
    <Solid1Example client:only="solid" products={data} />
    <Solid2Example client:only="solid" products={data} />
    <React1Example client:only="react" products={data} />
    <React2Example client:only="react" products={data} />
  </main>
  <Debug client:only="solid" />
</Layout>
